{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Django Two Shot</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href ="{% url 'home' %}">Receipts</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'list_categories' %}">Categories</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'list_accounts' %}">Accounts</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
            {% endif %}
            {% if request.user.is_authenticated != True %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}

        </ul>
      </nav>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
  </body
</html>